

body{
 background-color: #261D14;
 color: #CEC2B2;
 font-family: 'Playfair Display', serif;
 padding: 0;
 overflow-y: visible;
 margin: 0;
}
  

.bold-text{
 font-weight: bold;
 font-family: 'Georgia', serif;
 font-size: 1.5em;
 color: rgb(11,12,12);
 background-color: #353839;
 padding: 10px 5px 5px;
 max-width: 450px;
 margin: 50px auto;
 border-radius: 6px;
 transition: all 0.3s ease;
 box-shadow:0 4px 6px rgba(0,0,0,0.1);
 text-align: center;
 display: block;

}

.bold-text:hover{
 transform: translateY(-5px);
 box-shadow: 0 12px 18px rgba(0,0,0,0.2);
 backdrop-filter: blur(5px);
 border-radius: 10px;
 background-color: #16201A;
 color: #EDEDED;
}
   

.location{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  letter-spacing: 1px;
  color:rgba(255, 255, 255, 0.85)

}

.logo a {
font-size: 28px;
font-family: 'Playfair Display', serif;
letter-spacing: 2px;
color: #EDEDED;
}


.navbar{
  display: flex;
  justify-content: center;   
  margin: 50px 0;
  gap: 40px; 
  clear: both;
  
}

.navbar a.active{
 background: #2F4F4F;
 border-radius: 20px;
 color: white;
 

}
 
.navbar a{
  text-decoration: none;
  color: #EDEDED;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.5s;
 
}

.navbar a:hover {
  background-color: #1E1E1E;
  transform: translateY(-2px); 
} 

.section-title{
    text-align: center;
    font-size: 2.2rem;
    margin: 60px 0 30px;
    color: #EADAC0;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    position: relative;
}


.carousel-container{
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}

.carousel-track{
    display: flex;
    gap: 20px;
    animation: slideLoop 20s linear infinite;
}


.carousel-item {
    position: relative;
    width: 250px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 12px;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}


/* Overlay styling */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5); /* dark transparent layer */
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 15px;

    opacity: 0;
    transition: opacity 0.4s ease;
}

/* Show overlay on hover */
.carousel-item:hover .overlay {
    opacity: 1;
}

                                                                                                                                                                                                                       
@keyframes slideLoop{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.about-section{
    max-width: 900px;
    margin: 120px auto;
    text-align: center;
    padding: 60px;
    background: rgba(255,255,255,0.04);
    border-radius: 25px;
    backdrop-filter: blur(12px);
}

.about-section h2{
    font-size: 2.5em;
    margin-bottom: 25px;
}

.about-section p{
    font-size: 1.15em;
    line-height: 1.8;
    color: #e0f2f1;
}

.hero-home{

    position: relative;
    height: 70vh; /* Only top portion */
    overflow: hidden;
    background: url("images/andy-robson-dGzS-rpIEXo-unsplash (1).jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}


.hero-text{
    z-index: 2;
}

/* Scroll Arrow */

.scroll-down{
    scroll-behavior: smooth;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0); 
    font-size: 2rem;
    color: white;
    text-decoration: none;
    z-index: 3;
    animation: bounce 1.5s infinite;
}

@keyframes bounce{
    0%,100%{ transform: translate(-50%, 0); }
    50%{ transform: translate(-50%, 10px); }
}
 

.hero-delta{
    height: 90vh;
    background: url("images/Okavango.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-delta h2{
    font-size: 60px;
    
}

.hero-delta p{
    font-size: 22px;
    
}

.story{
    max-width: 800px;
    margin:  auto;
    padding: 40px;
    font-size: 18px;
    line-height: 1.6;
}

.story-link {
    color: #f47c20;      /* safari/orange highlight */
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s;
}

.story-link:hover {
    color: #d35b00;      /* darker on hover */
}

.content{

  font-size: 17px;
  line-height: 1.7;
  color: #EADAC0;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;


}

.more-info-safaris {

 color: #A77E55;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid #A77E55;
  transition: all 0.3s ease;
}

/* Hover effect */
.more-info-safaris:hover {
  color: #70401B;
  border-bottom: 2px solid #70401B;
}

.wildlife-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.wildlife-card {
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  flex: 0 1 calc(33.333% - 20px); /* flex-grow, flex-shrink, base width */
  max-width: calc(33.333%); 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.wildlife-card:hover {
  transform: translateY(-5px);
}

.wildlife-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.wildlife-info {
  padding: 15px;
  text-align: center;
}

.wildlife-info h3 {
  color: #2e7d32;
  margin-bottom: 10px;
}

.wildlife-info p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.wildlife-card .wildlife-link  {
  color: #DCBA93;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid #DCBA93;
  transition: all 0.3s ease;
}

.wildlife-card .wildlife-link:hover {
  color: #70401B;
  border-bottom: 2px solid #70401B;
}

.flora-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;

}

.flora-card{
   background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  flex: 0 1 calc(33.333% - 20px); /* flex-grow, flex-shrink, base width */
  max-width: calc(33.333%); 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;

}

.flora-card:hover {
  transform: translateY(-5px);
}

.flora-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.flora-info {
  padding: 15px;
  text-align: center;
}

.flora-info h2 {
  color: #2e7d32;
  margin-bottom: 10px;
}

.flora-info p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}


.flora-card .flora-link{
 color: #DCBA93;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid #DCBA93;
  transition: all 0.3s ease;
}
  
.flora-card .flora-link:hover {
  color: #70401B;
  border-bottom: 2px solid #70401B;
}


.Delta-activities{
background-color: #f5f1e8;
padding: 80px 40px;

}

.footer {
  background-color: #0d1b2a; /* deep safari blue */
  color: #fff;
  padding: 10px 30px 20px;
  text-align: center;
}

/* Logo */
.footer-logo {
  font-size: 24px;
  margin-bottom: 10px;
  color:#CEC2B2;
}

/* Description */
.footer-description {
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 14px;
  color: #ccc;
}

/* Make links sit side by side */
.footer-links,
.footer-external {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px; /* spacing between links */
  margin-bottom: 20px;
}

/* Link styling */
.footer a {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

/* Hover effect */
.footer a:hover {
  color: #f4a261; /* warm safari color */
}

/* Copyright */
.footer-copy {
  margin-top: 20px;
  font-size: 13px;
  color: #888;
}